body {
    font-family: times-new-roman;
    background-color: lightblue;
    color: white;
    /*background-image : url("http://cdn.wallpapersafari.com/55/68/q96NwI.jpg");*/
    margin-top: 60px;
    }
.right
{
    text-align: right;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.italics
{
    font-style: italic;
}
.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.text-medium
{
    font-size: 150%;
}
a
{
    color: white;
}